server:
  port: 8092
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: "admin"
    password: "admin"
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  liquibase:
    enabled: false
    change-log: classpath:/db/changelog/db.changelog-master.yaml
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: alpha
    tagsSorter: alpha
    disable-swagger-default-url: true
  api-docs:
    enabled: true